img{
    max-width: 100%;
 	overflow-x: hidden; 
}
.main-con{
	width: 80%;
	margin: 0 auto;
}
div.col-lg-12{
	margin-right: 0;
	margin-left: 0;
	padding: 0;
}

/*no spaces in gallery*/
div.col-md-4.col-lg-4, div.col-md-6.col-lg-6{
	padding: 0;
}
