*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Home menu*/
.home-con{
width: 100%;

}
.home-con img{
  width: 100%;
  height: 50vh;
  object-fit:cover;
}
/*Zoom on hover*/
.zoom {
    transition: transform .5s;
}

.zoom:hover {
    -ms-transform: scale(.94); /* IE 9 */
    -webkit-transform: scale(.94); /* Safari 3-8 */
    transform: scale(.94); 
}
/*card*/
.card-body h5{
  color: #141414;
  height: 3rem;
  font-size: 1.5rem;
}

.no-padding .col-lg-3{
  padding-left: 0;
  padding-right: 0;
}
h2{
  text-align: center;
}
.card{
  margin-bottom: 1rem;
  box-shadow: 3px 3px 8px grey;
}


div.row.padding{
  margin-right: 0px;
  margin-left: 0px;
}

.footer img{
  width: 100%;
  height: 100%;
}
/*Margin for the nav*/
.with-padding-top{
  padding-top: 56px;
  padding-bottom: 20px;
}
