img{
  width: 100%
}
.no-padding .col-lg-3{
  padding-left: 0;
  padding-right: 0;
}
#home{
  padding-top: 55px;
}

.padding{
  padding: 2rem 2rem;
}

/*.card-image
{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.card-img-top {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}*/